<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<p> <b>Homepage</b></p>
         {%if f%}
        <p>{{f}}</p>
        {%endif%}
        <form method="post" name="adduser"> {% csrf_token %}
            <input type="text" placeholder="name" name="username"><br>
            <input type="password" placeholder="type password" name="password"><br>
            <input type="email" placeholder="type email-id" name="email"><br>
            <input type="submit"  value="add user">
        </form>
<br>
<br>
<a href="/users">view userlist</a>

</body>